@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    padding: 0px;
    margin: 0px;

    font-family: 'Roboto', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #6ec6f5;
}

a:hover
{
    color: #40aae3;
}